html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header{
    max-width: 1300px;
    display: flex;
    max-height: 140px;
    background-color: white;
    margin:20px auto 60px auto;
}

.header__burger{
    display: none;
}

.navigation_hidden{
    display: none;
}

.logo img{
    margin-left: 60px;
}
.logo_2{
    display: none;
}

.navigation{
    max-height: 140px;
    display: flex;
    margin: 80px 0 40px 0;
}

.nav_item{
    margin-left: 100px;
    text-align: center
}

.item_link{
    text-decoration: none;
    color: #00224B;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    background-image: url("./img/main/Vector (3).svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: bottom left;
}

.banner__text{
    padding: 10px 0;
    color: white;
}

.banner__text__title h1{
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 25%;
    padding-top: 15px
}

.banner__text_1{
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    max-width: 650px;
    margin: 0 0 20px 25%;
}

.banner__text_2{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    line-height: 35px;
    margin-left: 40%;
}

.banner__text__first_part{
    max-width: 250px;
}
.banner__text__second_part{
    max-width: 600px;
}

.content{
    margin: 5px auto;
    max-width: 1100px;
}

.product{
    font-size: 26px;
    font-family: serif;
}

.product__items{
    display: flex;
    flex-wrap: wrap;
}
.product__item_1,
.product__item{
    flex: 1 1 500px;
    max-height: 400px;
}


.product__item__img img{
    max-width: 485px;
    max-height: 350px;
    position: relative;
    z-index: 1;
}

.product__item__text_1{
       position: relative;
        z-index: 2;
        bottom: 155px;
        left:35px;
        box-shadow: 0 0 10px 1px #808080;
        max-width: 350px;
        max-height: 400px;
        background-color: white;
        border-radius: 20px;
        margin:  5%;
        padding: 0.1%;
}

.product__item__text{
    position: relative;
    z-index: 2;
    bottom: 125px;
    left:40px;
    box-shadow: 0 0 10px 1px #808080;
    max-width: 350px;
    max-height: 400px;
    background-color: white;
    border-radius: 20px;
    margin:  5%;
    padding: 0.1%;

}

.product__item__text p{
    margin-left: 11%;
    color: #00A1E4;
}

.product__item_1 p{
    margin-left: 5%;
    color: #00A1E4;
}

.item__text__about_1{
    margin: 5%;
}

.item__text__about{
    margin: 5% 11%;
}

.content__about__us{
    background-image: url("./img/main/Vector (8).svg");
    background-position: bottom right;
}

.content__about__us__title{
    color: #00224B;
    font-size: 22px;
}

.content__about__us__text{
    max-width: 670px;
    margin: 0 auto;
    padding: 8px;
}

.content__about__us__text p{
    font-size: 18px;
}

.solution__items{
    display: flex;
    justify-content: space-around;
}

.solution__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution__item:nth-child(2) img{
    margin-left: 25px;
}

.solution__item img{
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
}

.solution__item:first-child span{
    margin-left: 15px;
}

.solution__item:nth-child(4) span{
    margin: 15px 0 0 20px;
}

.solution__item span{
    margin-left: 8px;
    font-size: 18px;
}

.projects__items{
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
}

.projects__item{
    flex: 0 0 auto;
}

.projects__item img{
    width: 250px;
    height: 120px;
}

.projects__scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    display: flex;
}

.nav_element{
    margin-top: 35px;
}


.country__contacts{
    display: flex;
    justify-content: space-evenly;
    background-color: #00224B;
    padding: 5px 10px;
}

.country__contacts p{
    color: white;
}

.contact__main{
    background-image: url("./img/main/Vector (1).svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 30px;
}

.contact_1{
    max-width: 50px;
}

@media (max-width: 1500px){
    .nav_item{
        margin-left: 40px;
    }
    .header{
        margin: 20px auto 40px auto;
        padding-right: 10px;
    }
    .banner__text__title h1{
        font-size: 20px;
        
    }
    .banner__text_1{
        font-size: 15px;
        max-width: 500px;
    }
    .banner__text_2{
        font-size: 15px;
        line-height: 25px;
    }
    .banner__text__first_part{
        max-width: 150px;
    }
    .banner__text__second_part{
        max-width: 400px;
    }
}

@media (max-width: 1150px){
    .banner__text__title h1{
        margin-left: 30%;
    
    }
    .banner__text_1{
        margin-left: 30%;
    }
    .product__items{
        max-width: 480px;
        margin: 0 auto;
    }

    .product__item_1,
    .product__item{
        flex: 1 1 360px;
        max-height: 420px;
    }

    .product{
        text-align: center;
        margin-left: 0;
    }

    .industry__solutions__title,
    .completed__projects__title{
        padding-left: 20px;
    }

}

@media (max-width: 1000px){
    .navigation{
        display: none;
    }
    .navigation.active{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        background-color: white;
        margin-top: 160px;
        width: 100%;
        height: 80px;
    }
    .nav_item{
        margin: 15px;
    }
    .banner__text__first_part,
    .banner__text__second_part,
    .banner__text__third_part{
        display: inline;

    }
    .banner__text_2{
        margin: 0 10px;
        max-width: 100%;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin-top: 80px;
        left: 350px
    }
    .header__burger span{
        position: absolute;
        background-color: rgb(0,61,124);
        top: 13px;
        width: 100%;
        height: 3px;
    }

    .header__burger::after,
    .header__burger::before{
        content: "";
        background-color: rgb(0,61,124);
        position: absolute;
        width: 100%;
        height: 3px;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger::before{
        top: 0;
    }
    .solution__item img{
        max-height: 100px;
        max-width: 100px;
    }
    .solution__item:first-child span{
        margin-left: 0;
    }
    
    .solution__item:nth-child(4) span{
        margin: 0;
    }
    
    .solution__item span{
        margin: 0 10px 0 0;
    }
    .projects__items{
        max-width: 750px;
    }
}

@media (max-width: 850px){
    .header__burger{
        left: 30%
    }
    .banner__text__title h1{
        font-size: 18px; 
        text-align: center;
        margin-left: 0;      
    }
    .banner__text_1{
        font-size: 15px;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    .banner__text_2{
        display: none;
    }
    .projects__items{
        max-width: 495px;
        margin-right: 20px;
    }
    
}


@media (max-width: 700px){
    .logo{
        max-width: 200px;
        max-height: 200px;
    }
    .header__burger{
        left: 45%
    }
    
}

@media (max-width: 600px){
    .projects__items{
        max-width: 210px;
        margin-right: 20px;
    }
}

@media (max-width: 520px){
    .logo{
        display: none;
    }
    .logo_2{
        display: block;
        margin: 15px 0 0 20px;
    }
    .header__burger{
        left: 25%;
    }
    .navigation.active{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .nav_item{
        margin: 0;
        padding-bottom: 8px;
    }
    .item__text__about{
        margin: 0;
        padding: 8px;
    }
    .product__items{
        max-width: 304px;
        margin: 0 auto;
    }

    .product__item_1,
    .product__item{
        flex: 1 1 310px;
        max-height: 270px;
    }

    .product__item__img img{
        width: 300px;
        height: 300px;
    }
    .item__text__about_1 span,
    .item__text__about span{
        display: none;
    }
    .product__item__text_1{
         bottom: 85px;
         left: 0;
         max-width: 300px;
         height: 50px;
        
 }
 
    .product__item__text{
        bottom: 80px;
        left: 0;
        max-width: 300px;
        height: 50px;
 
 }
    

    .content__about__us{
        margin-top: 50px;
    }
}

@media (max-width: 450px){
    .solution__items{
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        justify-content: center;
    }
    .solution__item{
        margin: 0 auto;
    }
    .projects__items{
        max-width: 250px;
    }

}
@media (max-width: 420px) {
    .header__burger{
        left: 15%
    }
    .banner__text__title h1{
        margin-bottom: -10px;
    }
    
}

@media (max-width: 360px){
    .header__burger{
        left: 0;
    }
    .banner__text_1{
        display: none;
    }
    .banner__text__title h1{
        margin-bottom: 0;
    }
    .solution__item:nth-child(odd){
        margin-left: 50px;
    }
    .solution__item:nth-child(even){
        margin-right: 50px;
    }
    .solution__item:nth-child(2) span{
        text-align: center;
        margin-left: 40px;
    }.solution__item:nth-child(2) img{
        margin-left: 40px;
    }
    .contact__main{
        padding-right: 20px;
    }
    .contacts:nth-child(2){
        margin-right: 12px;
    }
}